body {
    background: #444;
    color: #CCC;
    margin: 0;
    min-width: 1200px;
    padding: 0 8px;
}
body * {
    font-size: 18px;
    font-family: monospace;
}
select, input {
    background: #444;
    color: #CCC;
}
input[type="number"] {
    border: 1px solid #CCC;
}
.blocking-overlay {
    position: absolute;
    background: rgba(100, 100, 100, 0.75);
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 1200px;
}
.upload-control {
    border-bottom: 1px dotted;
    padding-top: 24px;
    padding-bottom: 4px;
    text-wrap: nowrap;
}
.upload-control * {
    display: inline-block;
}
.upload-control .file-input {
    width: 620px;
}
.waterfall-control, .cps-control {
    width: 100%;
    border-bottom: 1px dotted;
    padding: 4px 0;
}
.waterfall-control {
    padding-top: 24px;
}
.row {
    display: inline-block;
    margin-bottom: 12px;
    text-wrap: nowrap;
}
.col {
    align-items: baseline;
    display: inline-flex;
    padding-right: 12px;
    text-wrap: nowrap;
    width: 256px;
}
.col label {
    flex-grow: 1;
    margin-left: 4px;
}
.col input {
    max-width: 64px;
}
.scale-switch {
    display: inline-block;
    margin-right: 16px;
}
.plot-container, .plot-container .cps-container {
    height: calc(100% - 300px); /* - other controls height */
}
.plot-container .waterfall-container {
    display: inline-block;
    height: 100%;
    max-width: calc(100% - 320px); /* cpsPlotWidth in js + scroll */
    overflow-x: scroll;
    overflow-y: auto;
}
.plot-container .cps-container {
    display: inline-block;
    position: absolute;
    overflow-y: scroll;
    overflow-x: scroll;
    padding-left: 1px;
    width: 320px; /* cpsPlotWidth in js + scroll */
}
.cps-container .cps-plot {
    position: absolute;
    transform: rotate(90deg); /* veeeeeery hacky, need to rewrite this */
    transform-origin: bottom left;
    top: -300px; /* cpsPlotWidth in js */
}
.horizontal-cursor, .vertical-cursor {
    display: none;
    position: absolute;
    z-index: 1;
}
.horizontal-cursor {
    border-bottom: 1px dotted #777;
    height: 0;
}
.vertical-cursor {
    border-right: 1px dotted #777;
    width: 0;
}
.cps-control .numeric-input {
    margin: 0 4px;
    width: 120px;
}
.cps-left-column {
    display: inline-block;
    width: 400px;
}
.export-button {
    margin-left: 4px;
    width: 400px;
}
.error {
    color: orangered;
}
